/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10/09/2018, 04:25:33 PM
    Author     : cristian
*/

body{
    background-color: #e4e4e4;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.cuerpo{
    position: absolute;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;
    top: 25%;
    /*padding: 2em !important;*/
}
.cuerpo .card-title{
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid;
    color: #969393;
}
.card{
    border-radius: 1em;
}
.card a{
    color:#4CAF50 !important;
}