{# empty Twig template #}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/vendors/materialize/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" href="assets/css/autenticacion/autenticacion.css" />

    </head>
    <body>
        <div class='row cuerpo'>
            <div class=' card col s4'>
                <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
            </div>
        </div>
        <footer>
            <script src="assets/vendors/materialize/js/materialize.min.js"></script>
        </footer>
    </body>
</html>